{% extends 'partials/base.html' %}
{% block title%} Orders {% endblock%}

{% block content %}

{% include 'partials/topnav.html' %}


<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col">Product</th>
                    <th scope="col">Category</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Odered by</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
               {% for user_orders in user_orders%}
                <tr>
                    <td>{{ user_orders.product}}</td>
                    <td>{{ user_orders.product.category}}</td>
                    <td>{{ user_orders.order_quantity}}</td>
                    <td> {{user_orders.staff.username}}</td>
                    <td>{{ user_orders.date}}</td>
                </tr>
                
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}