{% extends 'partials/base.html' %}
{% block title%} Edit Product {% endblock%}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <div class="border bg-white p-3">
                <h3> Edit </h3>
                <hr>
               
                <form method="POST">
                    {% csrf_token %}
                     {{ form|crispy }}
                     <a class="btn btn-secondary" href="{% url 'dashboard_products' %}"> Cancel</a>
                     <input class="btn btn-danger" type="submit" value="Update">

                </form>

            </div>

        </div>

    </div> 

</div>

{% endblock %}