{% extends 'partials/base.html' %}
{% block title%} Staff {% endblock%}



{% block content %}

{% include 'partials/topnav.html' %}


<div class="row my-4">
    <div class="col-md-4"></div>
    <div class="col-md-8">
        <table class="table bg-white">
            <thead class="bg-info text-white">
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Phone</th>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees %}
                <tr>
                    <th scope="row"><a class="btn btn-info btn-sm"
                            href="{% url 'dashboard_staff_detail' employee.id %}">View</a></th>
                    <td>{{ employee.username }}</td>
                    <td>{{ employee.email }}</td>
                    <td>{{ employee.profile.phone }}</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}